.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#ribbon{
  background-color: rgb(219, 26, 26);
  background-image: repeating-linear-gradient(45deg,transparent,transparent 25px,rgba(131,21,21,0.5) 25px,rgba(131,21,21,0.5) 40px);
}

#ribbon::after{
  content: '';
  background-color: transparent;
  display: block;
  height: 20px;
  width: 50%;
  margin: 0 auto;
  position: relative;
  left: auto;
  margin-top: -40px;
}

#birthday{
  background-color: rgb(219, 26, 26);
  position: relative;
  margin-top: -20px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#birthday img{
  position: relative;
  margin-top: -30px;
}

.text-shadow{
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}
